<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginclass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstockservlet</servlet-name>
        <servlet-class>viewstockclass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStockServlet</servlet-name>
        <servlet-class>AddStockClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStockServlet</servlet-name>
        <servlet-class>UpdateStockClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStockServlet</servlet-name>
        <servlet-class>DeleteStockClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStockServlet</servlet-name>
        <servlet-class>SearchStockClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellMobileServlet</servlet-name>
        <servlet-class>SellMobileClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfimPaymentServlet</servlet-name>
        <servlet-class>ConfimPaymentClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesServlet</servlet-name>
        <servlet-class>ViewSalesClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSellMobileServlet</servlet-name>
        <servlet-class>SearchSellMobileClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewstockservlet</servlet-name>
        <url-pattern>/viewstockurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStockServlet</servlet-name>
        <url-pattern>/AddStockurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStockServlet</servlet-name>
        <url-pattern>/UpdateStockurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStockServlet</servlet-name>
        <url-pattern>/DeleteStockurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStockServlet</servlet-name>
        <url-pattern>/SearchStockurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellMobileServlet</servlet-name>
        <url-pattern>/SellMobileurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfimPaymentServlet</servlet-name>
        <url-pattern>/ConfimPaymenturl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesServlet</servlet-name>
        <url-pattern>/ViewSalesurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSellMobileServlet</servlet-name>
        <url-pattern>/SearchSellMobileurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logouturl</url-pattern>
    </servlet-mapping>
</web-app>
